# Core Dependencies
streamlit==1.41.0
google-api-python-client==2.154.0
google-generativeai==0.8.3
faiss-cpu==1.10.0
sentence-transformers==3.4.1
numpy==2.0.2
pandas==2.2.3
scikit-learn==1.6.1
scipy==1.15.1
torch==2.6.0
torchvision==0.21.0

yt-dlp


# YouTube Transcript & Downloading
youtube-transcript-api==0.6.3
yt-dlp==2024.12.23
pytube==15.0.0

# Whisper for Audio Transcription
openai-whisper==20240930
ffmpeg-python
pydub

# NLP & Processing
tiktoken==0.8.0
nltk==3.9.1
fuzzywuzzy==0.18.0
rapidfuzz==3.12.1

# API & Web Requests
requests==2.32.3
urllib3==2.2.3
protobuf==5.29.1

# Deployment & Web Framework
altair==5.5.0
fastapi==0.115.8
uvicorn==0.34.0
